body{
    background-attachment: fixed;
    background-image: url("/Images/loginback.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body{
    width: 320px;
    height: 490px;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: black;
    box-shadow: 5px 5px 10px #80e4e4;
    padding: 70px 30px;
    opacity: 0.8;
    border-radius: 10px;
    color:white;
}

.main-body h1{
    margin-top:-40px;
    font-size: 15px;
    color: rgb(241, 241, 112);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.main-body p{
    font-size: 15px;
    color: rgb(241, 241, 112);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}


.firstname-input{
    border: none;
    display: flex;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    align-items: left;
    width:100%;
    color: #fff;
    border-radius: 8px;
    margin-bottom:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lastname-input{
    border: none;
    display: flex;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    align-items: left;
    color: #fff;
    width:100%;
    border-radius: 8px;
    margin-bottom:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.email-input{
    border: none;
    display: flex;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    align-items: left;
    color: #fff;
    width:100%;
    border-radius: 8px;
    margin-bottom:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.username-input{
    border: none;
    display: flex;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    align-items: left;
    color: #fff;
    width:100%;
    border-radius: 8px;
    margin-bottom:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.password-input{
    border: none;
    display: flex;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    align-items: left;
    color: #fff;
    width:100%;
    border-radius: 8px;
    margin-bottom:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.create-button{
    margin-top:20px;
    align-items: center;
}

.create-button input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(136, 211, 255);
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.create-button input[type="submit"]:hover{
    background-color: white;
    cursor: pointer;
}

.eye-button-create{
    display: flex;
    position: absolute;
    top: 60%;
    right:28px;
    transform: translateY(-50%);
    color: #616161;
    height:20px;
    width:25px;
}

.eye-button-create:hover{
    cursor:pointer;
}

.repeat-eye-button-create{
    display: flex;
    position: absolute;
    top: 71%;
    right:28px;
    transform: translateY(-50%);
    color: #616161;
    height:20px;
    width:25px;
}

.repeat-eye-button-create:hover{
    cursor:pointer;
}